/* HTML5 display-role reset for older browsers */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    line-height: 1;
    font-family: "Raleway", "Arial", sans-serif;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
	line-height: 150%;
}
body {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
}
p {
    line-height: 150%;
}

.bold {
	font-weight: 600;
}

.online-demo {
	position: fixed;
	right: 0;
	top: 40vh;
    cursor:pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.online-demo img {
	height: 9vw;
}

.demo {
	position: fixed;
	right: 1vmax;
	width: 29vmax;
	/*height: 35.7vmax;*/
	height: 100%;
	top: 5.4vw;
	z-index: 999;
	overflow: hidden;
}

.grey-link{
	color:  #f05635;
	text-decoration: none;
}

.red-dotted-link{
	color:  #f05635;
	text-decoration: underline;
	text-decoration-style: dotted;
}

.link-invisible {
	text-decoration: none;
	color: black;
}

.news-link{
	text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    font-size: 1.07vw;
    z-index: 990;
}

nav li {
    display: inline-block;
    padding: 1.6vw;
}

nav li2 {
    display: inline-block;
    font-style: italic;
    padding: 1.64vw;
    padding-right: 1.0vw;
    padding-left: 1.0vw;
    font-size: 0.99vw;
}

nav li:hover {
    background-color: #777;
}

nav li2:hover {
    background-color: #777;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav .left_bar {
	position: fixed;
	left: 0%;
	text-align: center;
	background-color: black;
	z-index: 999;
}

nav .left_bar_samples {
	position: fixed;
	width: 25%;
	left: 0%;
	text-align: left;
	background-color: black;
	z-index: 999;
}

nav .middle_bar {
	position: fixed;
	width: 100%;
	left: 50%;
	margin-left: -50%;
	text-align: center;
	background-color: black;
}

nav .right_bar {
	position: fixed;
	right: 0%;
	text-align: center;
	background-color: black;
	z-index: 999;
}

nav .right_bar_samples {
	position: fixed;
	right: 0%;
	width: 25%;
	text-align: right;
	background-color: black;
	z-index: 999;
}

nav img {
	width: 4.4vw;
}

nav .left_bar_samples img {
	width: 1.9vw;
}

nav .right_bar_samples img {
	width: 0.9vw;
}

nav .left_bar_samples li {
    display: inline-block;
    padding: 1.1vw;	
}

#title{
	position: relative;
	margin-top: 8vw;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
}

#title .title {
    width: 100%;
    font-size: 2.0vw;
}

#title .authors {
    width: 80%;
    margin-left: 10%;
    font-size: 1.0vw;
	margin-top: 1.3vw;
}

#title .authors-wespe {
    width: 80%;
    margin-left: 10%;
    font-size: 1.0vw;
	margin-top: 1.7vw;
	margin-bottom: 4vw;
}

#title .authors-pynet {
    width: 90%;
    margin-left: 5%;
    font-size: 1.0vw;
	margin-top: 2.7vw;
	margin-bottom: 4vw;
}

#title .authors-camsdd {
    width: 100%;
    margin-left: 0;
    font-size: 0.72vw;
	margin-top: 2.7vw;
	margin-bottom: 4vw;
}

#title .emails-camsdd {
    width: 100%;
    font-size: 0.6vw;
}

#title .emails {
    width: 100%;
    font-size: 0.7vw;
}

#title .institute {
    width: 100%;
    font-size: 1.2vw;
	margin-top: 1.8vw;
}

#abstract {
	position: relative;
	margin-top: 3.0vw;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	overflow: hidden;
}

#abstract .title-arxiv {
    float: left;
    color: white;
    text-align: center;
    width: 20%;
    height: 100%;
}

#abstract .title-arxiv-pynet {
    float: left;
    color: white;
    text-align: center;
    width: 24%;
    height: 100%;
}

#abstract .title-arxiv-bokeh {
    float: left;
    color: white;
    text-align: center;
    width: 18%;
    height: 100%;
}

#abstract .title-arxiv-camsdd {
    float: left;
    color: white;
    text-align: center;
    width: 22%;
    height: 100%;
}

#abstract .title-info {
    float: left;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 76%;
    margin-left: 2%;
    margin-right: 2%;
}

#abstract .title-info-pynet {
    float: left;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 73.5%;
    margin-left: 2.5%;
    margin-right: 0%;
}

#abstract .follow-up {
	float: right;
	text-decoration: none;
	padding: 0.4vw;
	color: white;
	font-size: 0.8vw;
	background-color: rgba(54, 218, 61, 0.9);
	cursor: pointer;
	font-family: "Raleway", "Arial", sans-serif;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.3vw;
}

#btn-demo {
	text-align: center;
	margin-top: 0.9vw;
	margin-bottom: -2.2vw;
}

#btn-demo .btn-results-demo {
	text-decoration: none;
	padding: 0.5vw;
	color: white;
	font-size: 0.8vw;
	background-color: rgba(54, 218, 61, 0.9);
	cursor: pointer;
	font-family: "Raleway", "Arial", sans-serif;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.3vw;
}

#demo .btn-results-demo {
	padding: 0.8vw;
	padding-top: 1.2vw;
	padding-bottom: 1.2vw;
	color: white;
	margin-top: -2vw;
	font-size: 1.13vw;
	background-color: rgba(54, 218, 61, 0.8);
	cursor: pointer;
	font-family: "Raleway", "Arial", sans-serif;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.3vw;
    width: 16vw;
    margin-bottom: 1.2vw;
}

#demo {
	position: relative;
	margin-top: 5vw;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
}

#demo .title {
	margin-top: 3vw;
	margin-bottom: 2vw;
    width: 100%;
    font-size: 1.5vw;
    margin-bottom: 1.0vw;
}

#demo .title-samples {
	margin-top: 7vw;
	margin-bottom: 2vw;
    width: 100%;
    font-size: 1.8vw;
    margin-bottom: 1.0vw;
}

#demo .title-samples-external {
	margin-top: 6vw;
    width: 100%;
    font-size: 1.5vw;
    margin-bottom: 3.0vw;
}

#demo .title-samples-external-first {
	margin-top: 7.0vw;
    width: 100%;
    font-size: 1.5vw;
    margin-bottom: 1.0vw;
}

#demo-bb {
	position: relative;
	margin-top: 5vw;
	width: 100%;
	text-align: center;
}

#demo-bb .title-samples-external {
	margin-top: 6vw;
    width: 100%;
    font-size: 1.5vw;
    margin-bottom: 3.0vw;
}

#demo-bb .title-samples-external-first {
	margin-top: 7.0vw;
    width: 100%;
    font-size: 1.5vw;
    margin-bottom: 1.0vw;
}

#demo .btn-results-dped {
	position: absolute;
	margin-top: -0.1vw;
	margin-left: 1vw;
	padding: 0.4vw;
	color: white;
	font-size: 0.8vw;
	background-color: rgba(54, 218, 61, 0.9);
	cursor: pointer;
	font-family: "Raleway", "Arial", sans-serif;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.3vw;
}

#demo .btn-results-reviews {
	padding: 0.8vw;
	padding-top: 0.8vw;
	padding-bottom: 0.8vw;
	color: white;
	margin-top: 5vw;
	font-size: 1.13vw;
	background-color: rgba(54, 218, 61, 0.8);
	/* #f16b59 */
	cursor: pointer;
	font-family: "Raleway", "Arial", sans-serif;
    /*border-color: #29adf9;*/
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.3vw;
    width: 32vw;
    line-height: 2vw;
}

#dataset {
	position: relative;
	margin-top: 8vw;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
	overflow: hidden;
}

#dataset .title {
    width: 100%;
    font-size: 2.0vw;
    margin-bottom: 3.0vw;
}

#dataset .dataset-wespe {
	font-size: 1.05vw;
	text-align: justify;
}

#dataset .dped-image {
    float: left;
    color: white;
    text-align: center;
    width: 22%;
    height: 100%;
    padding-left: 0.2vw;
}

#dataset .zrr-image {
    float: left;
    color: white;
    text-align: center;
    width: 24%;
    height: 100%;
    padding-left: 0.2vw;
    margin-left: 2.9vw;
}

#dataset .ebb-image {
    float: left;
    color: white;
    text-align: center;
    width: 32%;
    height: 100%;
    padding-left: 0.2vw;
    margin-left: 2.9vw;
}

#dataset .dped-info {
    float: left;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 71%;
    margin-left: 1.3vw;
}

#dataset .zrr-info {
    float: left;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 62%;
    margin-left: 3.0vw;
}

#dataset .ebb-info {
    float: left;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 54%;
    margin-left: 3.0vw;
}

#dataset .camsdd-info {
    float: center;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 80%;
    margin-top: 2.6vw;
    margin-left: 10%;
}

#dataset-2 {
	position: relative;
	margin-top: 0vw;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
	overflow: hidden;
}

#dataset-2 .dped-image {
    float: left;
    color: white;
    text-align: center;
    width: 22%;
    height: 100%;
    padding-left: 0.2vw;
}

#dataset-2 .dped-info {
    float: left;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 53.0vw;
    margin-right: 1.0vw;
}

#dataset-2 .margin-top-1vw {
    margin-top: 1vw;
}

#dataset-2 .margin-top-minus1vw {
	margin-top: -1vw;
}

#dataset .padding-top-05vw {
    padding-top: 0.5vw;
}

#dataset-2 .btn-download {
	padding: 0.7vw;
	font-size: 0.9vw;
	margin-right: 0.1vw;
	margin-top: 1vw;
	background-color: #f16b59;
	cursor: pointer;
	color: white;
	font-family: "Raleway", "Arial", sans-serif;
    border-color: #f16b59;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.3vw;
}

#dataset .zrr-info .zrr-btn-download {
	padding: 0.7vw;
	width: 100%;
	font-size: 1.09vw;
	margin-right: 0.1vw;
	margin-top: 1vw;
	background-color: #f16b59;
	cursor: pointer;
	color: white;
	font-family: "Raleway", "Arial", sans-serif;
    border-color: #f16b59;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.3vw;
}

#dataset .ebb-info .ebb-btn-download {
	padding: 0.7vw;
	width: 100%;
	font-size: 1.09vw;
	margin-right: 0.1vw;
	margin-top: 1vw;
	background-color: #f16b59;
	cursor: pointer;
	color: white;
	font-family: "Raleway", "Arial", sans-serif;
    border-color: #f16b59;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.3vw;
}

#dataset .camsdd-info .camsdd-btn-download {
	padding: 0.7vw;
	width: 100%;
	font-size: 1.09vw;
	margin-right: 0.1vw;
	margin-top: 1vw;
	background-color: #f16b59;
	cursor: pointer;
	color: white;
	font-family: "Raleway", "Arial", sans-serif;
    border-color: #f16b59;
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.3vw;
}

#algo {
	position: relative;
	margin-top: 8vw;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
	overflow: hidden;
}

#algo .title {
    width: 100%;
    font-size: 2.0vw;
    margin-bottom: 3vw;
}

#algo .architecture-image {
    float: left;
    color: white;
    text-align: center;
    width: 36%;
    height: 100%;
    padding-left: 2.7vw;
    margin-top: 6vw;
}

#algo .architecture-wespe {
    float: left;
    color: white;
    text-align: center;
    width: 36%;
    height: 100%;
    margin-top: 5vw;
    padding-left: 2.7vw;
}

#algo .architecture-info {
    float: left;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 58%;
    margin-right: 1.0vw;
}

#algo .pynet-architecture-image {
    float: left;
    color: white;
    text-align: center;
    width: 47.3%;
    padding-left: 1vw;
    margin-top: 0vw;
}

#algo .pynet-architecture-info {
    float: left;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 44%;
    margin-right: 2vw;
    margin-left: 1.5vw;
}

#algo .pynet-bokeh-architecture-image {
    float: left;
    color: white;
    text-align: center;
    width: 42.3%;
    padding-left: 1vw;
    margin-top: -0.9vw;
}

#algo .pynet-bokeh-architecture-info {
    float: left;
    text-align: justify;
    background-color: white;
    font-size: 1.0vw;
    width: 49%;
    margin-right: 2vw;
    margin-left: 1.5vw;
}

#code {
	position: relative;
	margin-top: 6vw;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
	font-size: 1.0vw;
}

#code .title {
    width: 100%;
    font-size: 2.0vw;
    margin-bottom: 3vw;
}

.timeline {
	border-collapse: collapse;
    margin-top: 4.8vw;
    font-size: 0.88vw;
    box-shadow: 0 0 1.2vw rgba(0, 0, 0, 0.15);
    border-radius: 0.2vw;
    overflow: hidden;
}

.timeline thead tr {
    background-color: rgb(241, 107, 89);
    color: #ffffff;
    text-align: center;
}

.timeline th {
    padding: 0.8vw 1vw;
}

.timeline td {
    padding: 0.6vw 1vw;
    vertical-align: middle;
}

.timeline td:nth-of-type(3n+2) {
    border-left: 1px solid rgba(0, 0, 0, 0.8);
}


.timeline tbody tr {
    border-bottom: 1px solid #dddddd;
}

.timeline tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.timeline tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.timeline .submission_details {
	text-align: left;
	padding: 1.2vw;
	border-left: 1px solid rgba(0, 0, 0, 0.4) !important;
}

.highlight-color{
	 color: #f05635;
}

.highlight-color-blue{
	 color: #3498db;
}

.large-spacing {
  word-spacing: 0.2vw;
}

.small-text{
	font-size: 0.93vw;
}

#cite {
	position: relative;
	margin-top: 6vw;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
	overflow: hidden;
	font-size: 1.0vw;
}

#cite .title {
    width: 100%;
    font-size: 2.0vw;
    margin-bottom: 3vw;
}

.italic{
	font-style: italic
}

#about {
	position: relative;
	margin-top: 4vw;
	width: 100%;
	background-color: black;
	text-align: center;
	overflow: hidden;
	font-size: 1.1vw;
	color:  #ecf0f1;
	padding-top: 1.3vw;
	padding-bottom: 2.7vw;
	overflow: hidden;
}

#about p {
	line-height: 200%;
}

/**
 * Image slider with pure CSS
 * Original version in http://demosthenes.info/blog/css
 */

.image-slider {
	position:relative;
	display: inline-block;
	line-height: 0;
	margin: 2vw;
}

/* Could use a pseudo-element, but they’re currently
   super buggy. See: http://dabblet.com/gist/ab432c3f6a8f672cd077 */
.image-slider > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 49%;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}

/* Cross-browser resizer styling */
.image-slider > div:before {
	content: '';
	position: absolute;
	right: 0; bottom: 0;
	width: 13px; height: 13px;
	padding: 5px;
	background: linear-gradient(-45deg, white 50%, transparent 0);
	background-clip: content-box;
	cursor: ew-resize;
	-webkit-filter: drop-shadow(0 0 2px black);
	filter: drop-shadow(0 0 2px black);
}

.image-slider img {
	user-select: none;
	max-width: 30vw;
}

/*---------------------------------------------------*/

.cd-image-container {
  position:relative;
  display: inline-block;
  line-height: 0;
  margin: 2vw;
  width: 30vw;
  max-width: 30vw;
}

.cd-image-container.bb {
  	width: 25vw !important;
  	max-width: 25vw !important;
}

.cd-image-container.bb img {
  display: block;
  width: 25vw !important;
}

.cd-image-container img {
  display: block;
  width: 30vw;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  font-size: 1.1vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(1vw);
  -moz-transform: translateY(1vw);
  -ms-transform: translateY(1vw);
  -o-transform: translateY(1vw);
  transform: translateY(1vw);
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.4s;
  -moz-animation: cd-bounce-in 0.4s;
  animation: cd-bounce-in 0.4s;
}

.cd-handle {
  position: absolute;
  height: 2vw;
  width: 2vw;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -1vw;
  margin-top: -1vw;
  border-radius: 50%;
  /*background: #dc717d url("../assets/img/cd-arrows.svg") no-repeat center center;*/
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);*/
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-first {
  	background: rgba(241,107,89, 0.8);
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.cd-handle.draggable {
  /* change background color when element is active */
  /*background-color: #445b7c;*/
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

